#welcome {
  width: 100%;
  height: 100%;
  @include bgrImg("yarin1.jpg");

  h1 {
    padding: 35vh 5vh 5vh 5vh;
    margin: 0;
    color: $color-main;
    @include drop-shadow;
  }

  @media (min-width: $breakpoint-small) {
    h1 {width: 75vw; background:red;}
  }

  @media (min-width: $breakpoint-medium) {
    h1 {width: 55vw; background:yellow;}
  }

  a.btn {
    @include drop-shadow;
  }
}